*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Lobster", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #333;
  margin: 0;
}

h1 {
  color: white;
}

.video-container {
  position: relative;
  overflow: hidden;
  width: 50vmin;
  height: 50vmin;
  border: 20px solid #f0f0f0;
  border-radius: 10px;
}

form {
  width: 50vmin;
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
}

.label-and-input-container {
  padding: 1rem;
  display: flex;
}

label {
  margin-right: 1rem;
}

input {
  flex-grow: 1;
}

video {
  width: 100%;
  height: 100%;
  filter: grayscale(var(--grayscale)) blur(var(--blur)) hue-rotate(var(--hue));
  overflow: hidden;
}

.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  background-color: #333;
  outline: 0;
  border: 0px;
  color: #fff;
  border-radius: 50%;
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.btn--shoot {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.btn--delete {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.btn--hidden.btn--delete {
  transform: translateY(200%);
}

.btn--hidden.btn--shoot {
  transform: translateX(200%);
}

.btn--hidden {
  opacity: 0;
}

.btn-shoot:hover {
  color: salmon;
}

canvas {
  display: none;
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  border: 5px solid black;
}

.image {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.image--hidden {
  opacity: 0;
}
